html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #006d77;
    color: white;
}
table {
    border-collapse: collapse;
    width: 75%;
}

td, th {
    border: 1px solid #83c5be;
    font-size: 1.5rem;
    padding: 5px;
}

#compare-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #83c5be;
    width: 75%
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form select, form button, form input {
    width: 25%;
    height: 30%;
    font-size: 2rem;
    font-family: sans-serif;
    margin: 0px 5px;
    border: 2px solid #83c5be;
}

form select:hover, form button:hover, form input:hover, #show-all-btn:hover {
    cursor: pointer;
}

#show-all-btn {
    width: 25%;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 0px 5px;
    margin-left: 20px;
    border: 2px solid #83c5be;
}

form button {
    background: white;
}

#footer {
    width: 75%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#table-of-all {
    display: none;
}

#scroll-to-top {
    font-family: sans-serif;
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: white;
    color: #003034;
    cursor: pointer;
    padding: 10px;
    border: 2px outset #83c5be;
    border-radius: 4px;
    font-size: 18px;
}
  
#scroll-to-top:hover {
    background-color: #83c5be;
}