body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #006d77;
    color: white;
}
table {
    border-collapse: collapse;
    width: 75%;
}

td, th {
    border: 1px solid #83c5be;
    font-size: 1.5rem;
    padding: 5px;
}

#compare-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #83c5be;
    width: 75%
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form select, form button, form input {
    width: 25%;
    height: 30%;
    font-size: 2rem;
    font-family: sans-serif;
    margin: 0px 5px;
    border: 2px solid #83c5be;
}

form select:hover, form button:hover, form input:hover {
    cursor: pointer;
}

#show-all-btn {
    width: 25%;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 0px 5px;
    margin-left: 20px;
    border: 2px solid #83c5be;
}

form button {
    background: white;
}

#footer {
    width: 75%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}